html {
    font-size: 20px;
    padding: 0;
    margin: 0;
}
body {
    font-family: serif;
    font-size: 1rem;
    background-color: $white;
    width: 100%;
    display: flex;
    flex-flow: column;
}
main {
    padding-top: 120px;
}
h1 {
    font-size: 3.5rem;
    font-family: "special_eliteregular", serif;
    padding: 15px;
}

h2 {
    font-size: 1.5rem;
    font-family: "special_eliteregular", serif;
    display: inline;
}

p {
    padding: 15px;
}

a {
    text-decoration: none;
}
