footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: $grey;
    color: $white;
    font-family: "special_eliteregular", serif;
    font-size: .5rem;
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    div.social {
        div.bottom-bar {
            display: flex;
            flex-direction: column;
        }
        a {
            color: $white;
            font-size: 2rem;
            padding: 10px;
        }
    }
}
