header {
    background-color: $nav-grey;
    width: 100%;
    position: fixed;
}
nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
ul {
    display: flex;
    flex-flow: row nowrap;
    font-size: .8rem;
    justify-content: flex-end;
    font-family: "special_eliteregular", serif;
    li {
        margin: 25px;
        a {
            text-decoration: none;
            color: $white;
        }
    }
}

.logo {
    font-size: 3rem;
    color: $white;
}
